<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tutorial</title>
<script type="text/javascript" src="/resource/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/resource/js/bootstrap.js"></script>
<link rel="stylesheet" href="/resource/css/bootstrap.css" />
<script type="text/javascript" th:inline="javascript">

function ElementScan(){
	this.elements = new Array();
	
	this.elements.push($('#colorSelector').on('change', function(){
		console.log($(this).val()+' changed done');
	}).on('click', function(e){
		console.log(e.target.tagName+' clicked done');
	}));
	
	this.elements.push($(':input[name=keywordBox]').on('keyup', function(e){
		console.log('keyCode : '+e.keyCode+' and value : '+$(this).val());
	}));
	
	this.getElements = function(){
		return this.elements;
	}
}

function AopScan(elementScan){
	var context = this;
	var targetElements = elementScan.getElements();
	
	context.injectProxy = function(targetElement){
		var events = $._data(targetElement.get(0), "events");
		for(var property in events){
			switch(property){
				case 'change' : 
					(events[property]).forEach(function(v,i){
						var proceed = v.handler;
						targetElement.off(property);
						targetElement.on(property, function(event){
							context.advice.call(context, proceed.bind(this, event));
						});
					});
					break;
				case 'keyup' : 
					(events[property]).forEach(function(v,i){
						var proceed = v.handler;
						targetElement.off(property);
						targetElement.on(property, function(event){
							context.advice.call(context, proceed.bind(this, event));
						});
					});
					break;
				//You can add more case syntax with any event
			}
		}
	}
	
	context.advice = function(targetFunction){
		console.log('pre processing');
		//In some case, targetFunction needs to be called by callback Function for validation (e.g. login check).
		targetFunction.apply();
		console.log('after processing');
	}
	targetElements.forEach(function(v,i){
		context.injectProxy(v);
	})
}

$(function(){
	var elementScan = new ElementScan();
	new AopScan(elementScan);
})

</script>
</head>
<body>
<div>
<p>Pick a color</p>
<select id="colorSelector">
<option value="black">BLACK</option>
<option value="white">WHITE</option>
<option value="blue">BLUE</option>
<option value="red">RED</option>
</select>
</div>

<div>
<p>Fill in with text</p>
<input type="text" name="keywordBox"/>
</div>
</body>
</html>