<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>tutorial</title>
<script type="text/javascript" src="/resource/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/resource/js/bootstrap.js"></script>
<script type="text/javascript" src="/resource/js/tutorial.aop.js"></script>
<link rel="stylesheet" href="/resource/css/bootstrap.css" />
<script type="text/javascript" th:inline="javascript">
function beforeFunction(){
	console.log('pre processing');
}
function afterFunction(){
	console.log('after processing');
}
function exceptionFunction(){
	console.log('exception processing');
}
function finallyFunction(){
	console.log('finally processing');
}
$(function(){
	var elements = new Array();
	
	var el1 = $('#colorSelector').on('change', function(){
		console.log($(this).val()+' changed done');
	}).on('click', function(e){
		var p = {"id":"100"};
		$.ajax({
			type:'PUT',
			url:'http://api.bss.com:58080/api/informations',
			contentType:'application/json; charset=UTF-8',
			data:JSON.stringify(p),
			dataType:'json',
			xhrFields: {
		    	withCredentials: true
			},
			success:function(result){
				console.log(result);
			},
			error:function(jqXHR, textStatus, errorThrown){
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);
			}
		});
		
		
		var response = fetch('http://api.bss.com:58080/api/informations',{
		    method: 'POST', 
		    mode: 'cors',
		    credentials: 'include',
		    headers: {
		      'Content-Type': 'application/json',
		    },
		    referrerPolicy: 'no-referrer',
		    body: JSON.stringify(p)
		});
		
		response.then(data=>{return data.json();})
		.then(result => {console.log(result)})
		.catch(err => {console.log(err)});
		
		
		//console.log(e.target.tagName+' clicked done');
	});
	
	var el2 = $(':input[name=keywordBox]').on('keyup', function(e){
		console.log('keyCode : '+e.keyCode+' and value : '+$(this).val());
	});
	
	elements.push(el1, el2);
	var elementScan = new ElementScan(elements);
	var applyEventPropertyName = [];
	applyEventPropertyName.push(eventProperties.change);
	applyEventPropertyName.push(eventProperties.keyup);
	new AopScan(elementScan, applyEventPropertyName, beforeFunction, afterFunction, exceptionFunction, finallyFunction);
});

</script>
</head>
<body>
<div>
<p>Pick a color</p>
<select id="colorSelector">
<option value="black">BLACK</option>
<option value="white">WHITE</option>
<option value="blue">BLUE</option>
<option value="red">RED</option>
</select>
</div>

<div>
<p>Fill in with text</p>
<input type="text" name="keywordBox"/>
</div>
</body>
</html>